@model IEnumerable<Vidlly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Count() == 0 )
{
    <li>No customers yet.</li>
}
else
{
    foreach (var customer in Model)
    {
        <li>@Html.ActionLink(customer.Name, "Details", new {id = customer.Id })</li>
        <li>@Html.ActionLink(customer.Name, "Edit", new {id = customer.Id })</li>
        <li>@customer.MembershipType.DiscountRate%</li>
        <li>@customer.MembershipType.Name</li>
        
    }
}

